body{
    margin: 0 auto;
    width:510px;
    background-color:black;
    color:white;
    padding: 20px;
    font-family: 'times', serif;
}

::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Press Start 2P', serif;
    padding:0.3em;
    max-width: 100vw;
}

.panel{
    position:fixed;
    width: 300px;
    height:90vh;
    text-align: center;
    border-radius:10px;
    z-index:-1;
    overflow:scroll;
}

.panel > img, .panel > a > img, .panel > div{
    width:300px;
    padding:20px;
    border-radius:10px;
    margin-bottom:25px;
    box-sizing:border-box;
    background-color:#21201f;
}

.popup{
    background-color:transparent;
    position:fixed;
    width: 510px;
    max-width: 90vw;
    max-height: 90vh;
    padding:20px;
    height:650px;
    text-align: center;
    border-radius:10px;
    z-index:5;
    overflow:scroll;
    top: 0;
    box-sizing:border-box;
    opacity:0;
    transition: all 300ms ease-in-out;
    pointer-events: none;
}
#skins{
    height:600px;
}

.popup.active{
    opacity:1;
    pointer-events: auto;
    top: 20%;
}

#leaderboard{
    top: 110px;
    left: 30px;
    width:300px;
    padding:20px;
    background-color:#21201f;
    height:200px;
}

#messages{
    top: 370px;
    left: 30px;
    width:300px;
    padding:20px;
    background-color:#21201f;
    height:200px;
}

#advert{
    top: 110px;
    right: 30px;
}

#mobile_buttons{
    display: none;
}

li{
    line-height: 2;  
    text-transform: capitalize;
}

h1,h2 {
    text-align: center;
}

.flex-container{
    display:flex;    
    flex-direction: row;
    justify-content: space-around;
}

.game-row , .skins-row{
    margin-top:0;
    margin-bottom:0;
    height: 17px;
}

.skins-row > .snake:nth-child(2) {
  animation-delay: 300ms;
}

.skins-row > .snake:nth-child(3) {
  animation-delay: 450ms;
}
.skins-row > .snake:nth-child(4) {
  animation-delay: 600ms;
}
.skins-row > .snake:nth-child(5) {
  animation-delay: 750ms;
}
.skins-row > .snake:nth-child(6) {
  animation-delay: 900ms;
}
.skins-row > .snake:nth-child(7) {
  animation-delay: 1050ms;
}
.skins-row > .snake:nth-child(8) {
  animation-delay: 1200ms;
}
.skins-row > .snake:nth-child(9) {
  animation-delay: 1350ms;
}

.box{
    background-color:black;
    width:17px;
    height:17px;
    margin-left:0;
    margin-right:0;
    border-color:green;
    border-width:5px;
    border-style: none;
    box-sizing:border-box;
    display:inline-block;
}

button{
    background-color:#21201f;
    padding:15px;
    border-radius:3px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    width: "full";
    display:inline-block;
    color:white;
    margin: 20px;
    text-align:center;
    vertical-align: middle;
    line-height: 1;
    font-family: 'Press Start 2P', serif;
    animation-name: button_colors;
    animation-duration: 7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

* > button:nth-child(2n) { animation-delay: -3s }  
* > button:nth-child(3n) { animation-delay: -15s }   


button:hover{
    background-color:#383838;
    border-radius:15px;
}

.box:first-child, .box:last-child, .game-row.border > .box{
    background-color:#383838;
    border-style: none;
}

.box.food{
    width:17;
    height:17;
    /* margin:9px; */
    background-color:blue;
    border-radius:50%;
    animation: grow 2s infinite alternate, colors 5s infinite alternate;
    transition: all 20ms linear;
}



@keyframes grow {
    0% { transform: scale(1); }
    50% { transform: scale(0.7); }
    100% { transform: scale(1); }
}

@keyframes colors {
  0%   {background-color: white;}
  25%   {background-color:blue;}
  50%   {background-color:pink;}
  75%   {background-color:brown;}
  100% {background-color: green;}
}

@keyframes button_colors {
  0%   {color: white;border-color: white;}
  25%   {color:blue;border-color:blue;}
  50%   {color:pink;border-color:pink;}
  75%   {color:brown;border-color:brown;}
  100% {color: green;border-color:green;}
}

.box.snake{
    border-color:pink;
    background-color:red;
    border-radius:0;
    border-width:5px;
    border-style:none;
    background-size: cover;
    
    animation-duration: 1000ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 150ms;
}


.box.snake.skin1{
    animation-name: snake_skin1;
}

@keyframes snake_skin1 {
  0%    {background-color:green;border-style:none;}
  50%   {background-color: yellow;}
  100%   {background-color: green;}
  
}

.box.snake.skin2{
    animation-name: snake_skin2;
}

@keyframes snake_skin2{
    0%    {background-color:pink;border-style:none;}
    50%   {background-color: red;}
    100%   {background-color: orange;}
}

.box.snake.skin3{
    animation-name: snake_skin3;
}

@keyframes snake_skin3{
    0%    {background-color:black;border-style:none;}
    25%   {background-color: grey;}
    50%   {background-color: white;}
    75%   {background-color: grey;}
    100%   {background-color: black;}
}


.box.snake.skin4{
    animation-name: snake_skin4;
}

@keyframes snake_skin4{
    0%    {background-color:orange;border-style:none;}
    50%   {background-color: green;}
    100%   {background-color: pink;}
}


.box.snake.skin5{
    animation-name: snake_skin5;
}

@keyframes snake_skin5{
    0%    {background-color:yellow;border-style:none;}
    30%   {background-color: orange;}
    50%   {background-color: orange;}
    70%   {background-color: orange;}
    100%   {background-color: red;}
}


.box.snake.skin6{
    animation-name: snake_skin6;
}

@keyframes snake_skin6{
    0%    {background-color:red;border-style:none;}
    50%   {background-color: purple;}
    100%   {background-color: brown;}
}

.box.snake.skin7{
    animation-name: snake_skin7;
}

@keyframes snake_skin7{
    0%    {background-color:blue;border-style:none;}
    100%   {background-color: purple;}
}

.box.snake.skin8{
    animation-name: snake_skin8;
}

@keyframes snake_skin8{
    0%    {background-color:blue;border-style:none;}
    100%   {background-color: blue;}
}

.box.snake.skin9{
    animation-name: snake_skin9;
}

@keyframes snake_skin9{
    0%    {background-color:green;border-style:none;}
    100%   {background-color: green;}
}

.box.snake.skin10{
    animation-name: snake_skin10;
}

@keyframes snake_skin10{
    0%    {background-color:white;border-style:none;}
    100%   {background-color: white;}
}

/* mobile */
@media (max-width:480px)  {
    #messages{
        display:none
    }
    #advert{
        display:none
    }
    #leaderboard{
        display:none
    }
    .popup.active{
        top: 5%;
    }
    .box{
        width:3vw;
        height:3vw;
        margin-left:0;
        margin-right:0;
    }
    .game-row{
        height: 3vw;
        width: auto;
        /* display: inline-block; */
    }
    .box.food{
        width:3vw;
        height:3vw;
        margin:0vw;
        transition: none;
    }
    #refresh_score_p{
        display:none;
    }


    #top_bar{
        display:none;
    }
    body{
        padding: 0;
        position: relative;
        /* padding: 20px; */
    }
    .popup{
        margin: 20px;
        /* display: none; */
    }

    #game-board{
        margin: 0 auto;
        padding: 0;
    }
    html, body {
        overflow-x: hidden;
    }
    body {
        height: 100%;
        overflow: hidden;
        width: 100%;
        position: fixed;
    }
    #mobile_buttons{
        display: block;
    }

}

/* prevent overscroll */

/* prevent pull-to-refresh for Safari 16+ */
@media screen and (pointer: coarse) {
  @supports (-webkit-backdrop-filter: blur(1px)) and (overscroll-behavior-y: none)  {
    html {
      min-height: 100.3%;
      overscroll-behavior-y: none;
    }
  }
}
/* prevent pull-to-refresh for Safari 9~15 */
@media screen and (pointer: coarse) {
  @supports (-webkit-backdrop-filter: blur(1px)) and (not (overscroll-behavior-y: none))  {
    html {
      height: 100%;
      overflow: hidden;
    }
    body {
      margin: 0px;
      max-height: 100%; /* or `height: calc(100% - 16px);` if body has default margin */
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    /* in this case to disable pinch-zoom, set `touch-action: pan-x pan-y;` on `body` instead of `html` */
  }
}

/* prevent pull-to-refresh for Chrome 63+ */
body{
  overscroll-behavior-y: none;
}